/* styles.css */

/* Style for the dialog container with a class name */
.customdialog {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 0;
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
    z-index: 2;
}

/* Style for the dialog content */
.customdialogcontent {
    position: absolute;
    width: 90% !important;
    min-width: 360px !important;
    max-width: 640px !important;
    height: 90% !important;
    max-height: 800px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Dialog background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for a subtle lift effect */
    overflow-x: hidden;
    overflow-y: auto;
}

/* Add a filter effect to the dialog content if needed */
/*
.customdialogcontent {
    filter: blur(2px); /* Example filter: blur 
}
*/